// FONTS
// --------------------------------------------------

@include font-face("TradeGothicLTCondEighteenRg",
  font-files(
    "trade_gothic_lt_condensed_no._18-webfont.ttf",
    "trade_gothic_lt_condensed_no._18-webfont.woff",
    "trade_gothic_lt_condensed_no._18-webfont.svg"
  ),
  "trade_gothic_lt_condensed_no._18-webfont.eot"
);


@include font-face("arvil_sansregular",
  font-files(
    "arvil_sans-webfont.ttf",
    "arvil_sans-webfont.woff",
    "arvil_sans-webfont.svg"
  ),
  "arvil_sans-webfont.eot"
);


// Icon Font
@charset "UTF-8";

@include font-face("icomoon",
  font-files(
    "icomoon.ttf",
    "icomoon.woff",
    "icomoon.svg"
  ),
  "icomoon.eot"
);

.icon-search:before, .icon-github:before, .icon-dribbble:before, .icon-linkedin:before, .icon-twitter:before, .icon-spinner:before, .icon-envelope:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-search:before {
  content: "\e004";
}
.icon-github:before {
  content: "\e005";
}
.icon-dribbble:before {
  content: "\e006";
}
.icon-linkedin:before {
  content: "\e007";
}
.icon-twitter:before {
  content: "\e008";
}
.icon-spinner:before {
  content: "\e003";
}
.icon-envelope:before {
  content: "\e000";
}

.icon-spinner{
  position: absolute;
  margin-left: 7px;
  margin-top: 7px;
  font-size: 25px;
  color: $gray;
}

/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}